.header__inner {
    display: flex;
    align-items: center;
    padding: 0.4rem 0 0.4rem 0;
}

.header__item {
    width: 50%;

    &:last-child{
        width: 0;
    }
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;

    .logo__bg {
        width: 6.4rem;
        height: 6.4rem;
        background: #fff;
        border-radius: 50%;

        .logo__img {
            width: 100%;
        }
    }
    .logo__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 1rem;
        width: 33%;
        text-align: center;
        color: #000081be;
    }
}

.menu {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    .menu__item{
        margin-left: 1.5rem;
        display: flex;
        &:first-child{
            margin-left: 1.5rem;
        }
        .menu__link{
            font-size: 1.2rem;
            font-weight: 500;
            color: #444;
            transition: 0.2s;
            border-bottom: 0.3rem solid transparent;
            &:hover{
                color: #000;
            }
            &:hover{
                border-bottom: 0.3rem solid #000081be; 
            }
        }
    }
}

.hamburger {
    display: none;
    padding-right: 1.5rem;
    justify-content: flex-end;
    align-items: center;

    .hamburger__text {
        color: #000081be;
        font-weight: bold;
        padding-right: 1rem;
    }

    .hamburger__list {
        width: 1.5rem;
        height: 1.25rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger__plank {
        display: block;
        background: #000081be;
        height: 0.25rem;
        border-radius: 10px;
    }
}
